<div class="custombox clearfix">
    <h4 class="small-title">3 Comments</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-list">
                {{#each comment}}

                <div class="media">
                    <a class="media-left" href="#">
                        <img src="{{this.image}}" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">

                        <h4 class="media-heading user_name"> {{this.user_name}} <small>{{this.create}}</small></h4>
                        <p> {{this.comment}} </p>

                        <a href="#" class="btn btn-primary btn-sm">Reply</a>
                    </div>
                </div>
                {{#if (hasChildren this.id)}}
                {{#each (getChildren this.id)}}
                <div class="media last-child">
                    <a class="media-left" href="#">
                        <img src="{{this.image}}" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">

                        <h4 class="media-heading user_name"> {{this.user_name}} <small>{{this.create}}</small></h4>
                        <p> {{this.comment}} </p>

                        <a href="#" class="btn btn-primary btn-sm">Reply</a>
                    </div>
                </div>
                {{/each}}
                {{/if}}

                {{/each}}
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end custom-box -->